body {
	padding-top: 200px;
	text-align: center;
	font-family: Helvetica, sans-serif;
	background-image: url(../images/diagmonds.png);
	color: white;
}

h1 {
	color: pink;
}

body ul {
	list-style: none;
}

.button {
	padding: 10px;
	margin: 10px;
	background-color: purple;
	color: white;
	border-radius: 3px;
	text-decoration: none;
}

#result ul {
	list-style: none;
}