doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
	body
		h1 User Info App
		p See a list of all our users, search for a user or create a new one
		br
		a.button(href='/users') ALL USERS
		a.button(href='/result') SEARCH USERS
		a.button(href='/new') NEW USER 
