doctype html
html
	head 
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		script(src='/js/main.js')
	body
		h1 User Info App
		br
		p Search for users:
		form(method='post' action='/result')
			input(class='target' type='text', placeholder='type in a name', name='search')
			button(type='submit') SEARCH
		div#result
		br
		a.button(href='/') BACK