doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
	body
		h1 User Info App
		br
		//- if the result variable (which was sent along with the res.render) is undefined, that means that there's no match found in the json-file. 
		if result === undefined
			p We don't have any matching users in our database, sorry!
			a.button(href='/') BACK
		//- otherwise, there is a match, so print the name and emailadres of that match
		else
			p Your search came up with the following matching users:
			p= 'Name: ' + result.firstname + ' ' + result.lastname
			p= 'Email: ' + result.email
			a.button(href='/') BACK